---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% assign publications_sorted = site.publications | sort: "date" | reverse %}
{% assign first_author_publications = site.publications | where: "first_author", true | sort: "summary_order" %}
{% assign coauthor_publications = site.publications | where: "first_author", false | sort: "summary_order" %}
{% assign featured_publications = site.publications | where: "featured", true | sort: "date" | reverse %}
{% assign first_author_by_venue = first_author_publications | group_by: "venue" %}
{% assign coauthor_by_venue = coauthor_publications | group_by: "venue" %}

<h2>PUBLICATIONS ({{ site.publications | size }})</h2><hr />
<ul>
  <li><strong>First author ({{ first_author_publications | size }}):</strong>
    {% for venue_group in first_author_by_venue %}
      {{ venue_group.name }} ({{ venue_group.items | size }}){% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </li>
  <li><strong>Co-author ({{ coauthor_publications | size }}):</strong>
    {% for venue_group in coauthor_by_venue %}
      {{ venue_group.name }} ({{ venue_group.items | size }}){% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </li>
</ul>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<h2>Featured works</h2><hr />
{% for post in featured_publications %}
  {% include archive-single.html %}
{% endfor %}

<h2>All Publications</h2><hr />
{% for post in publications_sorted %}
  {% include archive-single.html %}
{% endfor %}
