<table class="scholar-metrics__table" aria-label="Google Scholar all-time metrics">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">All</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Citations</th>
      <td>{{ include.scholar.metrics.citations.all }}</td>
    </tr>
    <tr>
      <th scope="row">h-index</th>
      <td>{{ include.scholar.metrics.h_index.all }}</td>
    </tr>
    <tr>
      <th scope="row">i10-index</th>
      <td>{{ include.scholar.metrics.i10_index.all }}</td>
    </tr>
  </tbody>
</table>
